<div class="content">
  <div class=" row">
    <div class=" col-md-12 col-sm-12 col-lg-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col title">
              <h3 class=" card-title">Transportadoras</h3>
            </div>
          </div>
          &nbsp;&nbsp;
          <div class=" row">
						<div class=" col-2">
							<button class="btn btn-success" (click)="createTransportadora()">Crear</button>
						</div>
          </div>
        </div>
        <div class=" card-body">
          <div class=" table-responsive list_container">

            <table class="table table-striped tablesorter">
              <thead>
                <tr>
                  <th class="text-center">Nit</th>
                  <th class="text-center">Nombre</th>
                  <th class="text-center">Empresa</th>
                  <th class="text-center">Estado</th>
                  <th class="text-center"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let transportadora of listTransportadora">
                  <td align="center">{{ transportadora.tran_Nit }}</td>
                  <td align="center">{{ transportadora.tran_Nombre }}</td>
                  <td align="center">{{ transportadora.empresas.emp_Nombre }}</td>
                  <td align="center" *ngIf="transportadora.tran_Estado == 1;else inactivo">Activo</td>
                  <ng-template #inactivo>
                    <td align="center">Inactivo</td>
                  </ng-template>
                  <td align="center" title="Editar">
                    <svg
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-pencil-square manito colorIcons"
                      viewBox="0 0 16 16"
                      (click)="updateTransportadora(transportadora)"
                    >
                      <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                      <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                    </svg>
                    <!-- <button class="btn btn-xs btn-dark" (click)="updateCompany(company)">
                    </button> -->
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
